---
permalink: /about/index.html
translationKey: "aboutPage"
pageTitle: "About us"
pageIntro: "Coming Soon! We are still drafting our descriptions about our gym and staff. Please check back later or contact us if you have any specific curiosities."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "about" %}

{% block content %}
<main>

  <div class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
    <div class="l-container  l-container--narrow">
      <h1 class="c-h1 c-h1--invert">{{ pageTitle }}</h1>
      <p class="c-pageintro">{{ pageIntro }}</p>
    </div>
  </div>

  <div class="c-pagesection">
    <div class="l-container  l-container--narrow">

      <h2 class="c-h2">Who are we?</h2>
      <div class="l-split  l-split--2fr1fr">
        <div>
          <p>
            Welcome to KiPS Gymnastics! We provide a positive approach to gymnastics training for athletes at a variety of levels and styles; 
            supporting gymnasts from all walks of life from 6 months to 16 to 60+. KiPS Family Gymnastics strives to provide safe and fun 
            gymnastics training at a variety of levels and styles, through skilled instruction, positive coaching, and an intentional, 
            pervasive culture of caring. We are families serving families, by promoting strength of mind, body, and character in athletes of 
            all ages through the dynamic and extensive realm of sport that is gymnastics. Our mission is in line with that of USA Gymnastics, 
            “to build a community and culture of health, safety and excellence, where athletes can thrive in sport and in life.”
          </p>
         </div>
        <div style="overflow: hidden;">
          <img src="/assets/img/PXL_20230618_155348634.jpg" style="width: -webkit-fill-available;">
        </div>
      </div>

      <h2 class="c-h2">Coach Carey</h2>
      <div class="l-split  l-split--1fr2fr">
        <div style="overflow: hidden;">
          <img src="/assets/img/PXL_20230618_155348634.jpg" style="width: -webkit-fill-available;">
        </div>
        <div>
          <p>
            Carey has her MA in Education and MS in Geographic & Cartographic Science and has taught in secondary schools for 20+ years. 
            She was a competitive athlete from middle school through high school and into college, and has several years of coaching experience 
            in a variety of sports. She believes in the positive effects of fitness and strength in the lives of young people, as well as the 
            important role that coaching and mentoring can play for them. She is the mother of two competitive gymnasts, one Level 9 and one 
            Level 3, with 15 years of experience supporting them through the sport, and many years serving in the parents association for their 
            gymnastics team. She values the growth mindset, self-confidence, and physical and mental strength that her daughters gain through the sport. 
          </p>
         </div>
      </div>

      <h2 class="c-h2">Coach Erin</h2>
      <div class="l-split  l-split--2fr1fr">
        <div>
          <p>
            Erin is a long-standing gymnast and gymnastics coach, as well as an everyday athlete who maintains an active lifestyle with 
            a focus on health and wellness.   She also is an engineer with a patent in a combustion based manufacturing process. She is a mother to 
            a 2 y.o. and lives in the world of young mothers in Northern Virginia, which is very relevant experience in and of itself.  Erin has 
            coached competitive gymnastics for the last 10 years; head coach for the Arlington Angels Xcel Program for 7 years.  She cares deeply 
            about creating a positive environment for young athletes to grow, develop and feel supported and find a sense of community.  Erin values 
            the physical and mental aspects of gymnastics and loves mentoring her gymnasts in many aspects of life; cultivating lifelong skills 
            beyond the sport of gymnastics.
          </p>
         </div>
        <div style="overflow: hidden;">
          <img src="/assets/img/PXL_20230618_155348634.jpg" style="width: -webkit-fill-available;">
        </div>
      </div>

    </div>
  </div>
  {# <div class="c-pagesection  c-pagesection--border">
    <div class="l-container  l-container--narrow">

      <h3 class="c-h2">Objectives</h3>
      <ul class="l-grid  l-grid--colgap  l-grid--2cols@small">
        <li>
          <h5 class="c-h4">Provide up to date resources</h5>
          <p>The range of global systemic threats to humans and non-humans is wide and multifaceted. It deserves to be studied rigorously but also to be wisely communicated to people.</p>
        </li>
        <li>
          <h5 class="c-h4">Promote transdisciplinarity</h5>
          <p>This site is intended for researchers from all disciplines, from natural to humanities and social sciences, as well as for anyone interested in studying our predicament.</p>
        </li>
        <li>
        <h5 class="c-h4">Embrace complexity</h5>
        <p>Collapsology takes a <a href="https://en.wikipedia.org/wiki/Post-normal_science">Post-Normal Science</a> perspective that complements academic expertise with insights from non-scientists in order to produce knowledge adapted to decision-making on these global and complex issues.</p>
       </li>
       <li>
        <h5 class="c-h4">Lead to action</h5>
        <p>The current planetary crisis requires urgent attention and serious responses from our governments and from all of us.</p>
       </li>
     </ul>

   </div>
 </div>

   <div class="c-pagesection  c-pagesection--border">
    <div class="l-container  l-container--narrow">

      <h2 class="c-h2">Bib.Collapse</h2>
      <div class="l-split  l-split--2fr1fr">
        <div>
          <p>The database offers a transdisciplinary panorama of the scientific literature relevant to the study of collapse risks and phenomena in their environmental, human, social and cultural dimensions. </p>
          <p>In constant evolution since its inception in 2015, <b>bib.collapse</b> is structured in four main categories of keywords:</p>
          <ol>
            <li><strong>General discussions</strong>
              <ul>
                <li>Limits to growth <em>(discussions &amp; theories of societal collapse and limits to growth)</em></li>
                <li>Existential risks <em>(discussions &amp; theories of existential risks)</em></li>
                <li>Post-normal science <em>(TEK, uncertainty, governance, etc.)</em></li>
              </ul>
            </li>
            <li><strong>Overshoots &amp; vulnerabilities</strong>
              <ul>
                <li>Planetary boundaries <em>(climate, biodiversity, acidification, pollution, water, etc.)</em></li>
                <li>Physical limits <em>(energy sources, critical metal &amp; minerals, cabon budget, etc.)</em></li>
                <li>Lock-ins <em>(socio-technical, cognitive, behavioural, rebound effect, etc.)</em></li>
                <li>Systemic risks <em>(finance, infrastructure, supply chain, telecouplings, etc.)</em></li>
              </ul>
            </li>
            <li><strong>Horsemen of the apocalypse</strong>
              <ul>
                <li>Violence, conflicts and wars <em>(migrations, climate, resources, etc.)</em></li>
                <li>Health, diseases and pandemics <em>(COVID-19, climate, biodiversity, etc.)</em></li>
                <li>Agriculture, food, famine <em>(breadbasket failure, conflicts, seeds, etc.)</em></li>
                <li>Disasters <em>(Extreme climate events, nuclear fallout, etc.)</em></li>
              </ul>
            </li>
            <li><strong>Human and social sciences</strong>
              <ul>
                <li>Psychology <em>(fear, denial, grief, hope, etc.)</em></li>
                <li>Political science <em>(governance, activism, failed states, inequality, etc.)</em></li>
                <li>History <em>(USSR, Rapa-Nui, Rome, etc.)</em></li>
                <li>Etc. <em>(demography, geopolitics, sociology, philosophy, etc.)</em></li>
              </ul>
            </li>
          </ol>
          <p>It mainly contains references and abstracts of (1) articles published in peer-reviewed journals; (2) chapters of, and academic books; (3) conference papers; (4) PhD and MA/MSc thesis, (5) scientifically-sourced reports and white papers of public institutions and independent bodies ; and a few magazine and newspaper articles of interest.</p>
        </div>
        <div>
          <h3 class="c-h5">Science database</h3>
          <ul class="c-listbare">
            <li>Edition: Raphaël Stevens</li>
            <li>Version: 2.0</li>
            <li>Service: Zotero</li>
          </ul>
        </div>
      </div>

    </div>
  </div> #}

</main>
{% endblock %}
