---
permalink: /classes/index.html
translationKey: "classesPage"
pageTitle: "Classes"
pageIntro: "We are setting our Fall Class Schedule now! As we prepare to open, we would love your input. Fill out this form to get your first class free! https://forms.gle/6EFiVebEKM2wurTJ7"
---

<style>#omnify-booking-widget{ background-color:#3898EC; color:#ffffff; border-color:#3898EC;width:auto; height:auto; border-radius:2px; border-width:1px; padding:12px 25px 12px 25px; font-family:sans-serif; font-weight: normal;font-size: 100%;cursor: pointer; }</style>
<script type='text/javascript'>function newPopup(url){popupWindow=window.open(url,'','left=10,top=100,resizable=yes,scrollbars=yes,menubar=no,location=no,,toolbar=no,directories=no,status=yes')}</script>
<h4><button id='omnify-booking-widget' onclick="JavaScript:newPopup('https://omfgym.getomnify.com/#!/home?auth=login ');"> Book now</button></h4>

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.jpg" %}
{% set currentSectionId = "classes" %}


{% from "macros/linkItem.njk" import linkItem %}

{% block content %}
<main>

  <div class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
      <div class="l-container  l-container--narrow">
        <h1 class="c-h1 c-h1--invert">Classes</h1>
        <p class="c-pageintro">We are preparing to launch in Fall 2023!  As we prepare to open, we would love your
          input. Fill out <a href="https://forms.gle/6EFiVebEKM2wurTJ7">this form</a> to get your first class free!</p>
      </div>
    </div>

    <div class="c-pagesection  c-pagesection--border">
      <div class="l-container  l-container--narrow">

        <h2 class="c-smalltitle  u-margin-bottom-xl">Family Classes</h2>
        <h2 class="c-smalltitle  u-margin-bottom-xl">For all family classes, one adult is expected to participate with
          the child. Additional adults are welcome on an ad-hoc basis, depending on the size of the class. </h2>
        <ul class="l-grid  l-grid--gap  l-grid--2cols@medium">
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Parent & Baby 
              </h3>
              <div class="c-link__summary">
                <p>This 25 minute class is designed to enhance the child’s motor, listening, and social skills through fun gymnastics oriented activities. Emphasis on progressions from crawling to walking and climbing.   (an adult is expected to actively participate with their child).  </p>
                <p>Infant: 6 mo-12 mo (Crawling to Pulling to Stand) </p>  
                <p>Baby: 10 mo-16 mo (First Steps and Walking)</p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Parent & Toddler
              </h3>
              <div class="c-link__summary">
                <p>
                  This 50 minute class is designed to enhance the child’s motor, listening, and social skills through fun gymnastics oriented activities. Emphasis on progressions from crawling to walking and climbing. (an adult is expected to actively participate with their child). This class is offered to children ages 16 months up to 3 years.
                </p> 
                <p>Toddler 1: 16 months-28 months </p>
                <p>Toddler 2: 24 -36 months</p>

              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Post-Natal
              </h3>
              <div class="c-link__summary">
                <p>The focus of this 25 minute class is for Post-Natal exercise, incorporating deep breathing, pelvic control, transverse abdominis development and strengthening after pregnancy.  This class is offered to moms, with their children ages 4 weeks to 16 weeks. This 25 minute class will also allow babies to work on tummy-time, adjacent play, head control with mom and baby together.  </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-pagesection  c-pagesection--border">
      <div class="l-container  l-container--narrow">
        <h2 class="c-smalltitle  u-margin-bottom-xl">Children's Gymnastics </h2>
        <h2 class="c-smalltitle  u-margin-bottom-xl">Children's Gymnastics Classes group gymnasts by general age and skill level.  All genders welcome. </h2>
        <ul class="l-grid  l-grid--gap  l-grid--2cols@medium">
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Preschool [Ages 3-5]
              </h3>
              
              <div class="c-link__summary">
                <p>This class is offered to children ages 3 years-5 years old. This 50 minute class is the introduction to basic gymnastics skills.  Activities include tumbling, low bar, floor beam, and motor skills. </p>
              </div>
            </article>
          </li>
          <li>
            
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Beginner [Ages 5-7, Ages 8+]
              </h3>
              <div class="c-link__summary">
                <p>This 50 minute class is the introduction to basic gymnastics skills Activities include tumbling, low bar, floor beam, and gross motor skills. </p>
                <p>
                  Skills: 
                  <ul>
                    <li>Floor: Forward/Backward Rolls, Zebra Kicks, Bridges</li>
                    <li>Bars: Hanging, monkey bar, front support</li>
                    <li>Beam:  Walking Forwards/Backwards/Kicks, jump to safe landing</li>
                    <li>Vault: Running, Skipping, Hurdles, coordination of hands and feet</li>
                  </ul>
                </p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Intermediate [Ages 6-8, Ages 9+]
              </h3>
              <div class="c-link__summary">
                <p>This class is offered to children ages 6+ .  This 50 minute class is the introduction to intermediate gymnastics skills Activities include tumbling, low bar, high beam, and motor skills. Gymnasts will have the option transition out of this class to compete as a bronze/silver in the USAG Xcel Program. </p>
                <p>
                  Skills: 
                  <ul>
                    <li>Floor: Handstands, Cartwheels, Kick-overs</li>
                    <li>Bars: Swinging, Pull-overs, Roll Down, Casts</li>
                    <li>Beam:  Walking, Jumping, Jump to Safe Landing from height</li>
                    <li>Vault: Run with Hurdle, Handstand fall to flatback</li>
                  </ul>
                </p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Advanced
              </h3>
              <div class="c-link__summary">
                <p>This class is offered to children ages 7+ .  This 80 minute class is the introduction to intermediate gymnastics skills Activities include tumbling, low bar, high beam, and motor skills.  This is focused on learning new skills and fun, unlike the more form focused Xcel program.</p>
                <p>
                  Skills: 
                  <ul>
                    <li>Floor: Round-off, Back & Front Walkovers</li>
                    <li>Bars: Pull over, Backhip Circle, Dismounts</li>
                    <li>Beam:  Walking (forward, backward, dips), Handstand, Cartwheel,  jump to safe landing from height</li>
                    <li>Vault: Handstand Flatback, Fronthandsprings</li>
                  </ul>
                </p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Bronze Xcel Program
              </h3>
              <div class="c-link__summary">
                <p>
                  An introductory competitive program that builds on skills learned in Intermediate/Advanced Class.  Emphasis on form, execution, artistry for competition
                </p>
                <p>
                  {# Offered 5 days a week, gymnasts are required to attend at least 3 days a week. #}
                </p>
                <p>
                  Skills: 
                  <ul>
                    <li>Floor: Round-off series, Back & Front Walkover Series</li>
                    <li>Bars: Pull over, Backhip Circle, Front Hip Circle, Glide Swings, Low Bar Dismounts</li>
                    <li>Beam:  Walking (forward, backward, dips), Handstand, Cartwheel, jump to safe landing from height</li>
                    <li>Vault: Handstand Flatback, Front handsprings</li>
                  </ul>
                </p>
              </div>
            </article>
          </li>


        </ul>
      </div>
    </div>
    <div class="c-pagesection  c-pagesection--border">
      <div class="l-container  l-container--narrow">
        <h2 class="c-smalltitle  u-margin-bottom-xl">Teen & Adult Gymnastics</h2>
        <h2 class="c-smalltitle  u-margin-bottom-xl">Ever feel like you want to workout but don't have the time? Too busy taking the kids to gymnastics?  This is for you!  These classes are taught concurrently with many of the school age programs, allowing you to work out while your child enjoys their own gymnastics activities.</h2>
        <ul class="l-grid  l-grid--gap  l-grid--2cols@medium">
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                High School/Adult Gymnastics
              </h3>
              <div class="c-link__summary">
                <p>This 90 minute class is designed for anyone interested in learning or relearning basic to intermediate tumbling skills.</p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Adult Gymnastics Bootcamp
              </h3>
              <div class="c-link__summary">
                <p>Parents and adults will gain strength, flexibility, body awareness and safe jumping & landing skills; this is a strength focused class with gymnastics skills and fundamentals incorporated. Open to All.</p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Adult Gym-Yoga
              </h3>
              <div class="c-link__summary">
                <p>Parents and adults will work on posture, core awareness, flexibility and enjoy some calm, this yoga class incorporates principles of gymnastics.  Open to All. </p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Adult Open Workout
              </h3>
              <div class="c-link__summary">
                <p>For a self led option, we have a small separate workout area in the back of the gym with machines and weights; come and workout while your little one enjoys their gymnastics program. <br> *Only open for family members of a child during the child's class. </p>
              </div>
            </article>
          </li>


        </ul>
      </div>
    </div>
    <div class="c-pagesection  c-pagesection--border">
      <div class="l-container  l-container--narrow">
        <h2 class="c-smalltitle  u-margin-bottom-xl">Teen & Adult Gymnastics</h2>
        <ul class="l-grid  l-grid--gap  l-grid--2cols@medium">
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Birthday Parties
              </h3>
              <div class="c-link__summary">
                <p>Fun gymnastics activities for 25 participants; activities are age based and include some gymnastics fundamentals, obstacle courses and</p>
              </div>
            </article>
          </li>
          <li>
            <article class="c-link">
              <h3 class="c-link__title  c-h3">
                Special Needs
              </h3>
              <div class="c-link__summary">
                <p>This class is designed for children with a variety of mental and physical disabilities to participate in adaptive gymnastics. Often the parents are also participating with the children in the class to assist the instructor. </p>
              </div>
            </article>
          </li>


        </ul>
      </div>
    </div>

  {# <div class="c-pagesection">
    <div class="l-container  l-container--narrow">

      <h2 class="c-h2">We want to hear from you!</h2>
      <div class="l-split  l-split--2fr1fr">
        <div>
          <p>
            We are setting our Fall Class Schedule now! As we prepare to open, we would love your input. 
            Fill out <strong><a href="https://forms.gle/6EFiVebEKM2wurTJ7">this form</a></strong> to get your first class free!
          </p>
         </div>
        <div>
          <h3 class="c-h5">Contact</h3>
          <ul class="c-listbare">
            <li><a href="mailto:kipsfamilygym@gmail.com">kipsfamilygym@gmail.com</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

      {% set linksByTypes = collections.linksByTypes %}
      {% for type, links in linksByTypes %}
        <div class="c-pagesection  c-pagesection--border">
          <div class="l-container  l-container--narrow">

            <h2 class="c-smalltitle  u-margin-bottom-xl">{{ type }}</h2>
            <h2 class="c-smalltitle  u-margin-bottom-xl">OMG{{ links.data.description }}</h2>
            {% for link in links %}
              {% if loop.first %}<ul class="l-grid  l-grid--gap  l-grid--2cols@medium">{% endif %}
                <li>
                  {{ linkItem(
                    url = link.data.url,
                    title = link.data.title,
                    content = link.templateContent | safe
                  ) }}
                </li>
              {% if loop.last %}</ul>{% endif %}
            {% endfor %}

          </div>
        </div>
      {% endfor %}
 #}

</main>
{% endblock %}
