---
permalink: /index.html
translationKey: "homePage"
pageTitle: "Home"
pageIntro: "Gymnastics. By families, for families."
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageIntro %}
{% set metaImage = site.baseUrl ~ "/assets/img/social_media.png" %}
{% set currentSectionId = "home" %}

{% from "macros/bookItem.njk" import bookItem %}
{% from "macros/linkItem.njk" import linkItem %}

{% block content %}
<main>

  <section class="c-pagesection  c-pagesection--dark  u-padding-top-xl">
    <div class="l-container">

      <h2 class="c-tagline" style="font-family: cursive;">Gymnastics.<br><span>By families, for families.</span></h1>
      <p>
        KiPS offers a positive approach to recreational gymnastics for athletes from all walks of life from 6mos to 16 to 60+.
      </p>
      <p>
        We provide safe and fun gymnastics training at a variety of levels and styles, through skilled instruction and an intentional, pervasive culture of caring. We are families serving families, by promoting strength of mind, body, and character in athletes of all ages through the dynamic and extensive realm of sport that is gymnastics. Our mission is in line with that of USA Gymnastics, “to build a community and culture of health, safety and excellence, where athletes can thrive in sport and in life.”
      </p>
      <p>Values - Family, Balance, Strength, Body positivity, Community, Fun
        </p>
<p>Vision - KiPS Family Gymnastics strives to become a premier USAG recreational facility, which stands out in the community because of its culture of wellness, focus on family and family wellness, and inside-the-beltway location. We hope to one day expand into a larger location with an expansive competetive program.
</p>


    </div>
  </section>
  <div class="c-pagesection">
    <div class="l-container  l-container--narrow">

      <h2 class="c-h2">We want to hear from you!</h2>
      <div class="l-split  l-split--2fr1fr">
        <div>
          <p>
            We are setting our Fall 2023 Class Schedule now! As we prepare to open, we would love your input. 
            Fill out <strong><a href="https://forms.gle/6EFiVebEKM2wurTJ7" target="_blank">this form</a></strong> to get your first class free!
          </p>
         </div>
        <div>
          <h3 class="c-h5">Contact</h3>
          <ul class="c-listbare">
            <li><a href="mailto:kipsfamilygym@gmail.com">kipsfamilygym@gmail.com</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</main>
{% endblock %}
